body {
    background: linear-gradient(150deg,
    rgba(3, 21, 162, 0.7),
    rgba(238, 91, 33, 0.7)),
    url('../img/attractive-beautiful-beauty-1790475.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #ccc;
}














